body {background-color:#b0c4de;}
body {
background-image:url('datos.jpg');
font-family:Comic Sans MS;
}
h3{text-align:center;}


p {text-decoration:nome;
color:#FFF700   ;
      backgrouund-color: #03DF00 

}
h1 {text-align: center; }
h2{text-align: center;}


* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:relative;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav  li {
				float:center;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:sticky;
				min-width:100%;
			}
			
			.nav li:hover  ul {
				display:block;
			}
			
			.nav li ul li {
				position:100%;
			}
			
			.nav li ul li ul {
				
				top:0px;
			}

.caja { 
}
